/* mainmenu */
.mainmenu{
	background-color: #F6F6F6;
	color: #1C1C1C;
}
/* desktop flex article */
.flex-article{
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}
.left-column{
	flex:1;
	padding: 20px;
}
.right-column{
	flex: 2;
	padding: 20px;
}

/* desktop color drop-downs*/
details{
	
}
summary{
	cursor: pointer;
	position: relative;
	padding-right: 2em;
}
/* not showing the triangle + */
summary::-webkit-details-marker{
	display: none;
}
/* open using + */
summary::after{
	content:"+";
	font-size: 20px;
	position: absolute;
	right: 1em;
}
/* after open using - */
details[open]summary::after{
	content:"-";
}

details:nth-of-type(1){
	background-color: black;
	color: white;
	padding: 2em;
}
details:nth-of-type(2){
	background-color: white;
	color: black;
	padding: 2em;
}
details:nth-of-type(3){
	background-color: #FFE500;
	color: black;
	padding: 2em;
}
details:nth-of-type(4){
	background-color:#FFA500;
	color:black;
	padding: 2em;
}
details:nth-of-type(5){
	background-color: #E12121;
	color:black;
	padding: 2em;
}
details:nth-of-type(6){
	background-color: #95E744;
	color:black;
	padding: 2em;
}
details:nth-of-type(7){
	background-color: #469CFF;
	color:black;
	padding: 2em;
}
details:nth-of-type(8){
	background-color: #C070FF;
	color:black;
	padding: 2em;
}
/* mobile color drop-downs*/
@media (max-width:600px){
	details{
		max-width: 100%;
		padding: 4px;
		font-size: 20px;
	}
	summary{
		font-size:20px;
		padding:6px;
	}
	details p{
		font-size: 18px;
		padding: 5px;
	}
	}
