/* variable list */
:root{
	/* general styles */
	--heading-font font-family: "Forum";
	--main-background-width:100%;
	--main-border:2px;
	--main-padding:2px 8px 2px;
	--main-margin:30px 32px;
	--background:#F6F6F6;
	--main-margin-bottom:100px;

	/* H1 styles*/
	--h1-font-family: "Forum";
	--h1-font-size:100px;
	--h1-font-weight:600;
	--h1-line-height:100%;
	--h1-text-align:center;

	/* H2 styles*/
	--h2-font-family:"Forum";
	--h2-font-size:40px;
	--h2-font-weight:600;
	--h2-line-height:100%;
	--h2-letter-spacing:2px;
	--h2-text-align:center;

	/* H3 styles */
	--h3-font-family:"Forum";
	--h3-font-size:40px;
	--h3-font-weight:600;
	--h3-line-height:100%;
	--h3-letter-spacing:2px;

	/* p styles*/
	--p--font-family:"DM Sans";
	--p-font-size:18px;
	--p--font-weight:400;
	--p-line-height:150%;
}


/* heading styles */
h1{
	font-family: var(--h1-font-family);
	font-size: var(--h1-font-size);
	font-weight:var(--h1-font-weight);
	line-height:var(--h1-line-height);
	text-transform:uppercase;
	text-align: var(--h1-text-align);
}

h2{
	font-family: var(--h2-font-family);
	font-size: var(--h2-font-size);
	font-weight: var(--h2-font-weight);
	line-height: var(--h2-line-height);
	letter-spacing: var(--h2-letter-spacing);
	text-transform: uppercase;
	text-align: var(--h2-text-align);
}

h3{
	font-family: var(--h3-font-family);
	font-size: var(--h3-font-size);
	font-weight: var(--h3-font-weight);
	line-height: var(--h3-line-height);
}

p{
	font-family: var(--p--font-family);
	font-size: var(--p-font-size);
	font-weight: var(--p--font-weight);
	line-height: var(--p-line-height);
}

/* scroll section */
.scroll-section{
	padding:10px;
	position:sticky;
	}


/* sematic DOM */
body{
	padding: 5%;
	background-color: #F5F5F5;
}


/* Desktop Media Query */
@media(min-width:1280px){
:root{
	--h1-font-size:150px;
	--h3-font-size:40px;
	--p-text-font-size:18px;
	--p-line-height:150%;
}
}
@media (min-width: 500px){
	.content-grid {
	  display: grid;
	  grid-template-columns: 1fr, 2fr;
	  padding-left: 2em;
	  grid-template-areas:
		  "title  aside";
	}
}

h3 {
	grid-area: title;
	padding-right: 1em;
}

p {
	grid-area: aside;
	padding-right: 2em;
}

.content-grid {
	padding: 20px;
}
/* Print Media Query */
@media print{
	:root{
	--h1-font-size:100px;
	--h3-font-size:50px;
	--p-text-font-size:14px;
	--p-line-height:150%;
	}
}

/* desktop color drop-downs*/
details{

}
summary{
	cursor: pointer;
	position: relative;
	padding-right: 2em;
	list-style: none;
	font-family: 'Forum';
	font-size: 30px;
}
/* not showing the triangle + */
summary::-webkit-details-marker{
	display: none;
}

/* open using + */
summary::after{
	content:"+";
	font-size: 20px;
	position: absolute;
	right: 1em;
}
/* after open using - */
details[open]summary::after{
	content:"-";
}

details:nth-of-type(1){
	background-color: black;
	color: white;
	padding: 2em;
}
details:nth-of-type(2){
	background-color: white;
	color: black;
	padding: 2em;
}
details:nth-of-type(3){
	background-color: #FFE500;
	color: black;
	padding: 2em;
}
details:nth-of-type(4){
	background-color:#FFA500;
	color:black;
	padding: 2em;
}
details:nth-of-type(5){
	background-color: #E12121;
	color:black;
	padding: 2em;
}
details:nth-of-type(6){
	background-color: #95E744;
	color:black;
	padding: 2em;
}
details:nth-of-type(7){
	background-color: #469CFF;
	color:black;
	padding: 2em;
}
details:nth-of-type(8){
	background-color: #C070FF;
	color:black;
	padding: 2em;
}
/* mobile color drop-downs*/
/* @media (min-width:390px){
	details{
		max-width: 90%;
		padding: 10px;
		font-size: 20px;
	}
	summary{
		font-size:20px;
		padding:6px;
	}
	details p{
		font-size: 18px;
		padding: 5px;
	}
} */

/* circle animation styling */



/* activate after fixing other elements */
.circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 2;
    animation: moveRandom 8s infinite ease-in-out alternate;
}

.yellow { 
	background-color: #FFE500;
}

.orange { 
	background-color: #FFA500;
}

.red { 
	background-color:#E12121; 
}

.green {
	background-color: #95E744;
}

.blue {
	background-color: #469CFF;
}

.purple {
	background-color: #C070FF;
}

.circle:nth-child(2) {
	top: 10%; left: 20%; animation-duration: 6s;
}

.circle:nth-child(3) {
	top: 50%; left: 70%; animation-duration: 7s;
}

.circle:nth-child(4) {
	top: 30%; left: 10%; animation-duration: 8s;
}

.circle:nth-child(5) {
	top: 70%; left: 40%; animation-duration: 6.5s;
}

.circle:nth-child(6) {
	top: 20%; left: 80%; animation-duration: 5.5s;
}

.circle:nth-child(7) {
	top: 60%; left: 15%; animation-duration: 9s;
}


.circle:nth-child(8) {
	top: 15%; left: 50%; animation-duration: 7.5s;
}

.circle:nth-child(9) {
	top: 80%; left: 30%; animation-duration: 6.2s;
}

.circle:nth-child(10) {
	top: 25%; left: 60%; animation-duration: 7s;
}

.circle:nth-child(11) {
	top: 40%; left: 90%; animation-duration: 8s;
}

.circle:nth-child(12) {
	top: 85%; left: 50%; animation-duration: 5s;
}

.circle:nth-child(13) {
	top: 50%; left: 15%; animation-duration: 9.5s;
}

.circle:nth-child(14) {
	top: 35%; right: 45%; animation-duration: 9.5s;
}

.circle:nth-child(15) {
	top: 40%; left: 55%; animation-duration: 9.5s;
}

.circle:nth-child(16) {
	top: 80%; left: 15%; animation-duration: 9.5s;
}

.circle:nth-child(17) {
	top: 20%; left: 35%; animation-duration: 9.5s;
}

/* Keyframes for random movement */
@keyframes moveRandom {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(30px, 40px);
    }
    50% {
        transform: translate(-50px, -30px);
    }
    75% {
        transform: translate(40px, -50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* try parallax */
header {
	margin-top: -20vh;
	margin-bottom: -20vh;
    height: 80vh;
	overflow: hidden;
    justify-content: center;
    align-items: center;
	position: sticky;
	top: 0%;
	background-color: #F5F5F5;
	z-index: -1;
}

.title2 {
	margin-top: 100px;
	background-color: #F5F5F5;
	position: sticky;
	top: 10%;
	border-top: solid black 3px;
	z-index: 6;
	align-items: center;
	height: 80px;
}
.title3 {
	background-color: #F5F5F5;
	position: sticky;
	top: 20%;
	z-index: 6;
	border-top: solid black 3px;
	text-align: center;
}
.title4 {
	background-color: #F5F5F5;
	position: sticky;
	top: 30%;
	border-top:solid black 3px;
	z-index: 7;
	margin-top: -20px;
}

.title1 {
	position: sticky;
	z-index: -1;
	background-color: #F5F5F5;
}
.title2-para {
	z-index: 5;
	position: sticky;
	top: 10%;
	background-color: #F5F5F5;
	padding: 0;
	display: flex;
	padding-left: 50px;
	margin-top: -34px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.title2-para h3 {
	padding-top: 20px;
	font-size: 35px;
}

.title2-para p {
	padding-left: 50px;
	padding-top: 10px;
}

.title3-para {
	z-index: 2;
	background-color: #F5F5F5;
	margin-top: -34px;
	padding-top: 5px;
	padding-bottom: 20px;
}

.title3-para p {
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 20px;
}

.title4-para {
	z-index: 1;
	background-color:#F5F5F5;
	margin-top: -34px;
	padding: 0;
	padding-left: 50px;
	margin-top: -34px;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	position: relative;
	margin-bottom: 20px;
}
.firstcolumn{
	display: flex;
	flex-direction: column;
}
.title4-para h3{
	padding-top: 20px;
	font-size: 35px;
	margin-right: 30px;
}
.secondcolumn{
	margin-top: 20px;
}
.title4-para p{
	padding-left: 0;
}
.title5{
	background-color: #F5F5F5;
	position: sticky;
	z-index: 8;
	border-top: solid black 3px;
	text-align: center;
	top: 40%;
	margin-top: -34px;
}
.title5-para {
	z-index: 2;
	background-color: #709332;
	padding-bottom: 20px;	
}

.author{
	position: fixed;
	margin-top: -80px;
}